setuptools==75.8.0
pyright==1.1.403
black==25.1.0
isort==6.0.0
flake8==7.1.1
pytest==8.3.4

-e ./libs/circil
-e ./libs/zkvm-fuzzer-utils
-e ./projects/nexus-fuzzer
-e ./projects/sp1-fuzzer
-e ./projects/risc0-fuzzer
-e ./projects/jolt-fuzzer
-e ./projects/openvm-fuzzer
-e ./projects/pico-fuzzer