[tool.black]
line-length = 100
target-version = ['py310']
extend-exclude = '''
libs/circil
'''

[tool.pylint."messages control"]
ignore = ["./libs/circil*"]
disable = "all"
enable = [
  "empty-docstring",
  "missing-class-docstring",
  "missing-function-docstring",
  "missing-module-docstring"
]

[tool.isort]
profile = "black"

[tool.pytest]